.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 186 175);
  --md-sys-color-surface-tint: rgb(255 180 168);
  --md-sys-color-on-primary: rgb(55 0 0);
  --md-sys-color-primary-container: rgb(255 85 65);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(255 186 175);
  --md-sys-color-on-secondary: rgb(55 0 0);
  --md-sys-color-secondary-container: rgb(234 105 86);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(250 193 108);
  --md-sys-color-on-tertiary: rgb(34 19 0);
  --md-sys-color-tertiary-container: rgb(185 136 56);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(31 15 13);
  --md-sys-color-on-background: rgb(252 219 214);
  --md-sys-color-surface: rgb(31 15 13);
  --md-sys-color-on-surface: rgb(255 249 248);
  --md-sys-color-surface-variant: rgb(93 64 59);
  --md-sys-color-on-surface-variant: rgb(235 193 187);
  --md-sys-color-outline: rgb(192 154 148);
  --md-sys-color-outline-variant: rgb(158 123 117);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(252 219 214);
  --md-sys-color-inverse-on-surface: rgb(56 37 34);
  --md-sys-color-inverse-primary: rgb(150 0 0);
  --md-sys-color-primary-fixed: rgb(255 218 212);
  --md-sys-color-on-primary-fixed: rgb(45 0 0);
  --md-sys-color-primary-fixed-dim: rgb(255 180 168);
  --md-sys-color-on-primary-fixed-variant: rgb(116 0 0);
  --md-sys-color-secondary-fixed: rgb(255 218 212);
  --md-sys-color-on-secondary-fixed: rgb(45 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(255 180 168);
  --md-sys-color-on-secondary-fixed-variant: rgb(111 14 7);
  --md-sys-color-tertiary-fixed: rgb(255 221 176);
  --md-sys-color-on-tertiary-fixed: rgb(27 15 0);
  --md-sys-color-tertiary-fixed-dim: rgb(245 189 104);
  --md-sys-color-on-tertiary-fixed-variant: rgb(76 49 0);
  --md-sys-color-surface-dim: rgb(31 15 13);
  --md-sys-color-surface-bright: rgb(73 52 49);
  --md-sys-color-surface-container-lowest: rgb(25 10 8);
  --md-sys-color-surface-container-low: rgb(40 23 20);
  --md-sys-color-surface-container: rgb(45 27 24);
  --md-sys-color-surface-container-high: rgb(56 37 34);
  --md-sys-color-surface-container-highest: rgb(68 48 45);
}
