.light-medium-contrast {
  --md-sys-color-primary: rgb(140 0 0);
  --md-sys-color-surface-tint: rgb(191 9 4);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(206 27 15);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(129 28 18);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(197 78 62);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(92 60 0);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(140 97 18);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(140 0 9);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(218 52 46);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 248 246);
  --md-sys-color-on-background: rgb(40 23 20);
  --md-sys-color-surface: rgb(255 248 246);
  --md-sys-color-on-surface: rgb(40 23 20);
  --md-sys-color-surface-variant: rgb(255 218 212);
  --md-sys-color-on-surface-variant: rgb(88 60 55);
  --md-sys-color-outline: rgb(119 87 82);
  --md-sys-color-outline-variant: rgb(149 114 109);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(63 44 40);
  --md-sys-color-inverse-on-surface: rgb(255 237 234);
  --md-sys-color-inverse-primary: rgb(255 180 168);
  --md-sys-color-primary-fixed: rgb(224 42 27);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(187 4 2);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(197 78 62);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(164 54 40);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(153 108 30);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(125 84 2);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(243 211 206);
  --md-sys-color-surface-bright: rgb(255 248 246);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 240 238);
  --md-sys-color-surface-container: rgb(255 233 230);
  --md-sys-color-surface-container-high: rgb(255 226 221);
  --md-sys-color-surface-container-highest: rgb(252 219 214);
}
